// default colors
$accentColor = #7d7d7d                      
$textColor = #2c3e50                        
$borderColor = #eaecef                      
$codeBgColor = #282c34                      
$backgroundColor = #ffffff                  